<!DOCTYPE html>
<html>

<body>
    <h1>School Navigator</h1>
    <form action="school-mapper" method="post">
        <label for="start">Choose a car:</label>
        <select id="start" name="start">
            {% for place in places %}
                <option value="{{place}}">{{place}}</option>
            {% endfor %}
        </select>

        <label for="end">Choose a colour:</label>
        <select id="end" name="end">
            {% for place in places %}
                <option value="{{place}}">{{place}}</option>
            {% endfor %}
        </select>

        <input type="submit" value="submit" />
    </form>
</body>

</html>